# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import classification_report

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("./Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])
# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.select_dtypes(include=["object"]).columns)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
# Use ".fit" and ".transform"
enc.fit(applicant_data_df[categorical_variables])
encoded_data = enc.transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns= enc.get_feature_names_out(input_features=categorical_variables))

# Review the DataFrame
encoded_df.head()

# https://stackoverflow.com/questions/56338847/how-to-give-column-names-after-one-hot-encoding-with-sklearn

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Create a list of numerical variables for use in concat function 
numerical_variables = list(applicant_data_df.select_dtypes(exclude=["object"]).columns)

# Display the categorical variables list
numerical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[numerical_variables], encoded_df], axis="columns")

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df[["IS_SUCCESSFUL"]].copy()

# Display a sample of y
y.head()

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"]).copy()

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 24

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

24

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  12

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

12

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(input_dim = number_input_features, units = hidden_nodes_layer1, activation = "relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units = hidden_nodes_layer2, activation = "relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units = number_output_neurons, activation = "sigmoid"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 24)                2808

 dense_1 (Dense)             (None, 12)                300

 dense_2 (Dense)             (None, 1)                 13

=================================================================
Total params: 3121 (12.19 KB)
Trainable params: 3121 (12.19 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", metrics=["accuracy"], optimizer="adam")

In [25]:
# Calculte the split of the data
encoded_df["IS_SUCCESSFUL"].value_counts(normalize=True)

1    0.532406
0    0.467594
Name: IS_SUCCESSFUL, dtype: float64

In [26]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 482us/step - loss: 0.5904 - accuracy: 0.7069
Epoch 2/50
804/804 [==============================] - 0s 462us/step - loss: 0.5550 - accuracy: 0.7283
Epoch 3/50
804/804 [==============================] - 0s 476us/step - loss: 0.5508 - accuracy: 0.7320
Epoch 4/50
804/804 [==============================] - 0s 465us/step - loss: 0.5478 - accuracy: 0.7319
Epoch 5/50
804/804 [==============================] - 0s 472us/step - loss: 0.5468 - accuracy: 0.7325
Epoch 6/50
804/804 [==============================] - 0s 468us/step - loss: 0.5457 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 0s 471us/step - loss: 0.5443 - accuracy: 0.7341
Epoch 8/50
804/804 [==============================] - 0s 469us/step - loss: 0.5438 - accuracy: 0.7353
Epoch 9/50
804/804 [==============================] - 0s 473us/step - loss: 0.5432 - accuracy: 0.7341
Epoch 10/50
804/804 [==============================] - 0s 479us/step - loss: 0.5423 - accuracy: 0.7356
Epoch 11/50
804/804 [==============================] - 0s 519us/step - loss: 0.5422 - accuracy: 0.7359
Epoch 12/50
804/804 [==============================] - 0s 518us/step - loss: 0.5418 - accuracy: 0.7355
Epoch 13/50
804/804 [==============================] - 0s 489us/step - loss: 0.5410 - accuracy: 0.7356
Epoch 14/50
804/804 [==============================] - 0s 470us/step - loss: 0.5410 - accuracy: 0.7355
Epoch 15/50
804/804 [==============================] - 0s 476us/step - loss: 0.5406 - accuracy: 0.7350
Epoch 16/50
804/804 [==============================] - 0s 488us/step - loss: 0.5402 - accuracy: 0.7361
Epoch 17/50
804/804 [==============================] - 0s 517us/step - loss: 0.5398 - accuracy: 0.7350
Epoch 18/50
804/804 [==============================] - 0s 550us/step - loss: 0.5399 - accuracy: 0.7363
Epoch 19/50
804/804 [==============================] - 0s 513us/step - loss: 0.5396 - accuracy: 0.7357
Epoch 20/50
804/804 [==============================] - 0s 475us/step - loss: 0.5391 - accuracy: 0.7362
Epoch 21/50
804/804 [==============================] - 0s 466us/step - loss: 0.5390 - accuracy: 0.7357
Epoch 22/50
804/804 [==============================] - 0s 466us/step - loss: 0.5390 - accuracy: 0.7362
Epoch 23/50
804/804 [==============================] - 0s 468us/step - loss: 0.5390 - accuracy: 0.7367
Epoch 24/50
804/804 [==============================] - 0s 484us/step - loss: 0.5382 - accuracy: 0.7369
Epoch 25/50
804/804 [==============================] - 0s 518us/step - loss: 0.5380 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 0s 496us/step - loss: 0.5379 - accuracy: 0.7373
Epoch 27/50
804/804 [==============================] - 0s 517us/step - loss: 0.5381 - accuracy: 0.7375
Epoch 28/50
804/804 [==============================] - 0s 498us/step - loss: 0.5377 - accuracy: 0.7373
Epoch 29/50
804/804 [==============================] - 0s 510us/step - loss: 0.5378 - accuracy: 0.7375
Epoch 30/50
804/804 [==============================] - 0s 497us/step - loss: 0.5373 - accuracy: 0.7377
Epoch 31/50
804/804 [==============================] - 0s 519us/step - loss: 0.5378 - accuracy: 0.7377
Epoch 32/50
804/804 [==============================] - 0s 515us/step - loss: 0.5371 - accuracy: 0.7365
Epoch 33/50
804/804 [==============================] - 0s 512us/step - loss: 0.5373 - accuracy: 0.7375
Epoch 34/50
804/804 [==============================] - 0s 478us/step - loss: 0.5367 - accuracy: 0.7374
Epoch 35/50
804/804 [==============================] - 0s 470us/step - loss: 0.5371 - accuracy: 0.7376
Epoch 36/50
804/804 [==============================] - 0s 465us/step - loss: 0.5368 - accuracy: 0.7383
Epoch 37/50
804/804 [==============================] - 0s 463us/step - loss: 0.5368 - accuracy: 0.7382
Epoch 38/50
804/804 [==============================] - 0s 467us/step - loss: 0.5368 - accuracy: 0.7377
Epoch 39/50
804/804 [==============================] - 0s 459us/step - loss: 0.5363 - accuracy: 0.7385
Epoch 40/50
804/804 [==============================] - 0s 476us/step - loss: 0.5362 - accuracy: 0.7380
Epoch 41/50
804/804 [==============================] - 0s 508us/step - loss: 0.5359 - accuracy: 0.7383
Epoch 42/50
804/804 [==============================] - 0s 465us/step - loss: 0.5361 - accuracy: 0.7386
Epoch 43/50
804/804 [==============================] - 0s 471us/step - loss: 0.5355 - accuracy: 0.7375
Epoch 44/50
804/804 [==============================] - 0s 473us/step - loss: 0.5361 - accuracy: 0.7378
Epoch 45/50
804/804 [==============================] - 0s 508us/step - loss: 0.5356 - accuracy: 0.7392
Epoch 46/50
804/804 [==============================] - 0s 509us/step - loss: 0.5354 - accuracy: 0.7379
Epoch 47/50
804/804 [==============================] - 0s 521us/step - loss: 0.5352 - accuracy: 0.7383
Epoch 48/50
804/804 [==============================] - 0s 464us/step - loss: 0.5356 - accuracy: 0.7397
Epoch 49/50
804/804 [==============================] - 0s 489us/step - loss: 0.5347 - accuracy: 0.7391
Epoch 50/50
804/804 [==============================] - 0s 475us/step - loss: 0.5350 - accuracy: 0.7385

In [27]:
# This calcuation is an extra excercise
# calculate classification report to analyze precision and recall

y_pred=(nn.predict(X_test_scaled)>0.5).astype(int).ravel()
print(classification_report(y_test["IS_SUCCESSFUL"], y_pred))

268/268 [==============================] - 0s 274us/step
              precision    recall  f1-score   support

           0       0.75      0.65      0.70      4037
           1       0.72      0.81      0.76      4538

    accuracy                           0.73      8575
   macro avg       0.74      0.73      0.73      8575
weighted avg       0.73      0.73      0.73      8575

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 358us/step - loss: 0.5541 - accuracy: 0.7327
Loss: 0.5540587306022644, Accuracy: 0.7327113747596741

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = ("./Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

/Users/alejandratorres/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [32]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [33]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [37]:
# Define the number of hidden nodes for the hidden layers
hidden_nodes_layer1_A1 = 32
hidden_nodes_layer2_A1 = 24
hidden_nodes_layer3_A1 = 12

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

32

In [38]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [39]:
# First hidden layer
nn_A1.add(Dense(input_dim = number_input_features, units = hidden_nodes_layer1_A1, activation = "relu"))

# Second hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer2_A1, activation = "relu"))

# Third hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer3_A1, activation = "relu"))

# Output layer
nn_A1.add(Dense(units = number_output_neurons_A1, activation = "sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 32)                3744

 dense_6 (Dense)             (None, 24)                792

 dense_7 (Dense)             (None, 12)                300

 dense_8 (Dense)             (None, 1)                 13

=================================================================
Total params: 4849 (18.94 KB)
Trainable params: 4849 (18.94 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [40]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", metrics=["accuracy"], optimizer="adam")

In [41]:
# Fit the model using 50 epochs and the training data
nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 587us/step - loss: 0.5803 - accuracy: 0.7112
Epoch 2/50
804/804 [==============================] - 0s 553us/step - loss: 0.5524 - accuracy: 0.7289
Epoch 3/50
804/804 [==============================] - 0s 560us/step - loss: 0.5479 - accuracy: 0.7324
Epoch 4/50
804/804 [==============================] - 0s 561us/step - loss: 0.5468 - accuracy: 0.7320
Epoch 5/50
804/804 [==============================] - 0s 554us/step - loss: 0.5448 - accuracy: 0.7342
Epoch 6/50
804/804 [==============================] - 0s 562us/step - loss: 0.5442 - accuracy: 0.7343
Epoch 7/50
804/804 [==============================] - 0s 550us/step - loss: 0.5431 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 0s 575us/step - loss: 0.5424 - accuracy: 0.7343
Epoch 9/50
804/804 [==============================] - 0s 560us/step - loss: 0.5416 - accuracy: 0.7363
Epoch 10/50
804/804 [==============================] - 0s 558us/step - loss: 0.5417 - accuracy: 0.7351
Epoch 11/50
804/804 [==============================] - 0s 557us/step - loss: 0.5402 - accuracy: 0.7364
Epoch 12/50
804/804 [==============================] - 0s 551us/step - loss: 0.5405 - accuracy: 0.7365
Epoch 13/50
804/804 [==============================] - 0s 562us/step - loss: 0.5398 - accuracy: 0.7366
Epoch 14/50
804/804 [==============================] - 0s 569us/step - loss: 0.5397 - accuracy: 0.7371
Epoch 15/50
804/804 [==============================] - 0s 596us/step - loss: 0.5393 - accuracy: 0.7361
Epoch 16/50
804/804 [==============================] - 0s 586us/step - loss: 0.5381 - accuracy: 0.7369
Epoch 17/50
804/804 [==============================] - 0s 552us/step - loss: 0.5384 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 0s 576us/step - loss: 0.5379 - accuracy: 0.7377
Epoch 19/50
804/804 [==============================] - 0s 559us/step - loss: 0.5381 - accuracy: 0.7391
Epoch 20/50
804/804 [==============================] - 0s 540us/step - loss: 0.5374 - accuracy: 0.7382
Epoch 21/50
804/804 [==============================] - 0s 542us/step - loss: 0.5372 - accuracy: 0.7387
Epoch 22/50
804/804 [==============================] - 0s 551us/step - loss: 0.5368 - accuracy: 0.7383
Epoch 23/50
804/804 [==============================] - 0s 573us/step - loss: 0.5365 - accuracy: 0.7396
Epoch 24/50
804/804 [==============================] - 0s 589us/step - loss: 0.5360 - accuracy: 0.7380
Epoch 25/50
804/804 [==============================] - 0s 542us/step - loss: 0.5361 - accuracy: 0.7395
Epoch 26/50
804/804 [==============================] - 0s 543us/step - loss: 0.5367 - accuracy: 0.7396
Epoch 27/50
804/804 [==============================] - 0s 597us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 28/50
804/804 [==============================] - 0s 562us/step - loss: 0.5358 - accuracy: 0.7393
Epoch 29/50
804/804 [==============================] - 0s 550us/step - loss: 0.5359 - accuracy: 0.7390
Epoch 30/50
804/804 [==============================] - 0s 541us/step - loss: 0.5354 - accuracy: 0.7392
Epoch 31/50
804/804 [==============================] - 0s 580us/step - loss: 0.5352 - accuracy: 0.7399
Epoch 32/50
804/804 [==============================] - 0s 589us/step - loss: 0.5351 - accuracy: 0.7394
Epoch 33/50
804/804 [==============================] - 0s 540us/step - loss: 0.5344 - accuracy: 0.7404
Epoch 34/50
804/804 [==============================] - 0s 568us/step - loss: 0.5348 - accuracy: 0.7394
Epoch 35/50
804/804 [==============================] - 0s 558us/step - loss: 0.5347 - accuracy: 0.7396
Epoch 36/50
804/804 [==============================] - 0s 543us/step - loss: 0.5341 - accuracy: 0.7399
Epoch 37/50
804/804 [==============================] - 0s 567us/step - loss: 0.5342 - accuracy: 0.7397
Epoch 38/50
804/804 [==============================] - 0s 572us/step - loss: 0.5340 - accuracy: 0.7399
Epoch 39/50
804/804 [==============================] - 0s 593us/step - loss: 0.5336 - accuracy: 0.7404
Epoch 40/50
804/804 [==============================] - 0s 592us/step - loss: 0.5339 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 0s 551us/step - loss: 0.5335 - accuracy: 0.7400
Epoch 42/50
804/804 [==============================] - 0s 590us/step - loss: 0.5336 - accuracy: 0.7395
Epoch 43/50
804/804 [==============================] - 0s 605us/step - loss: 0.5330 - accuracy: 0.7406
Epoch 44/50
804/804 [==============================] - 0s 587us/step - loss: 0.5330 - accuracy: 0.7400
Epoch 45/50
804/804 [==============================] - 0s 559us/step - loss: 0.5326 - accuracy: 0.7402
Epoch 46/50
804/804 [==============================] - 0s 593us/step - loss: 0.5331 - accuracy: 0.7399
Epoch 47/50
804/804 [==============================] - 0s 565us/step - loss: 0.5328 - accuracy: 0.7405
Epoch 48/50
804/804 [==============================] - 0s 555us/step - loss: 0.5326 - accuracy: 0.7410
Epoch 49/50
804/804 [==============================] - 0s 572us/step - loss: 0.5326 - accuracy: 0.7411
Epoch 50/50
804/804 [==============================] - 0s 591us/step - loss: 0.5327 - accuracy: 0.7401

#### Alternative Model 2

In [42]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [43]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [44]:
# Define the number of hidden nodes for the hidden layers
hidden_nodes_layer1_A2,hidden_nodes_layer2_A2,hidden_nodes_layer3_A2,hidden_nodes_layer4_A2 = 64,32,24,12
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

64

In [45]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [46]:
# First hidden layer
nn_A2.add(Dense(input_dim = number_input_features, units = hidden_nodes_layer1_A2, activation = "relu"))

# Second hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer2_A2, activation = "relu"))

# Third hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer3_A2, activation = "relu"))

# Fourth hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer4_A2, activation = "relu"))

# Output layer
nn_A2.add(Dense(units = number_output_neurons_A2, activation = "sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                7488

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 24)                792

 dense_12 (Dense)            (None, 12)                300

 dense_13 (Dense)            (None, 1)                 13

=================================================================
Total params: 10673 (41.69 KB)
Trainable params: 10673 (41.69 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [47]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", metrics=["accuracy"], optimizer="adam")

In [48]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 671us/step - loss: 0.5710 - accuracy: 0.7210
Epoch 2/50
804/804 [==============================] - 1s 656us/step - loss: 0.5502 - accuracy: 0.7310
Epoch 3/50
804/804 [==============================] - 1s 665us/step - loss: 0.5487 - accuracy: 0.7317
Epoch 4/50
804/804 [==============================] - 1s 693us/step - loss: 0.5462 - accuracy: 0.7320
Epoch 5/50
804/804 [==============================] - 1s 673us/step - loss: 0.5451 - accuracy: 0.7333
Epoch 6/50
804/804 [==============================] - 1s 639us/step - loss: 0.5441 - accuracy: 0.7341
Epoch 7/50
804/804 [==============================] - 1s 649us/step - loss: 0.5430 - accuracy: 0.7339
Epoch 8/50
804/804 [==============================] - 1s 626us/step - loss: 0.5426 - accuracy: 0.7349
Epoch 9/50
804/804 [==============================] - 1s 632us/step - loss: 0.5419 - accuracy: 0.7358
Epoch 10/50
804/804 [==============================] - 1s 637us/step - loss: 0.5413 - accuracy: 0.7356
Epoch 11/50
804/804 [==============================] - 1s 638us/step - loss: 0.5410 - accuracy: 0.7363
Epoch 12/50
804/804 [==============================] - 1s 624us/step - loss: 0.5407 - accuracy: 0.7370
Epoch 13/50
804/804 [==============================] - 1s 669us/step - loss: 0.5398 - accuracy: 0.7376
Epoch 14/50
804/804 [==============================] - 1s 648us/step - loss: 0.5394 - accuracy: 0.7378
Epoch 15/50
804/804 [==============================] - 1s 633us/step - loss: 0.5388 - accuracy: 0.7381
Epoch 16/50
804/804 [==============================] - 1s 668us/step - loss: 0.5386 - accuracy: 0.7382
Epoch 17/50
804/804 [==============================] - 1s 656us/step - loss: 0.5382 - accuracy: 0.7377
Epoch 18/50
804/804 [==============================] - 1s 658us/step - loss: 0.5380 - accuracy: 0.7381
Epoch 19/50
804/804 [==============================] - 1s 654us/step - loss: 0.5374 - accuracy: 0.7383
Epoch 20/50
804/804 [==============================] - 1s 639us/step - loss: 0.5368 - accuracy: 0.7385
Epoch 21/50
804/804 [==============================] - 1s 657us/step - loss: 0.5370 - accuracy: 0.7383
Epoch 22/50
804/804 [==============================] - 1s 632us/step - loss: 0.5367 - accuracy: 0.7379
Epoch 23/50
804/804 [==============================] - 1s 652us/step - loss: 0.5362 - accuracy: 0.7387
Epoch 24/50
804/804 [==============================] - 1s 644us/step - loss: 0.5365 - accuracy: 0.7386
Epoch 25/50
804/804 [==============================] - 1s 640us/step - loss: 0.5361 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 1s 638us/step - loss: 0.5357 - accuracy: 0.7388
Epoch 27/50
804/804 [==============================] - 1s 671us/step - loss: 0.5353 - accuracy: 0.7402
Epoch 28/50
804/804 [==============================] - 1s 642us/step - loss: 0.5348 - accuracy: 0.7391
Epoch 29/50
804/804 [==============================] - 1s 642us/step - loss: 0.5352 - accuracy: 0.7395
Epoch 30/50
804/804 [==============================] - 1s 624us/step - loss: 0.5345 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 1s 622us/step - loss: 0.5346 - accuracy: 0.7398
Epoch 32/50
804/804 [==============================] - 0s 616us/step - loss: 0.5345 - accuracy: 0.7384
Epoch 33/50
804/804 [==============================] - 0s 619us/step - loss: 0.5342 - accuracy: 0.7410
Epoch 34/50
804/804 [==============================] - 0s 618us/step - loss: 0.5338 - accuracy: 0.7404
Epoch 35/50
804/804 [==============================] - 0s 617us/step - loss: 0.5337 - accuracy: 0.7404
Epoch 36/50
804/804 [==============================] - 0s 619us/step - loss: 0.5333 - accuracy: 0.7406
Epoch 37/50
804/804 [==============================] - 0s 621us/step - loss: 0.5329 - accuracy: 0.7405
Epoch 38/50
804/804 [==============================] - 0s 620us/step - loss: 0.5329 - accuracy: 0.7402
Epoch 39/50
804/804 [==============================] - 1s 637us/step - loss: 0.5329 - accuracy: 0.7409
Epoch 40/50
804/804 [==============================] - 1s 650us/step - loss: 0.5325 - accuracy: 0.7401
Epoch 41/50
804/804 [==============================] - 0s 618us/step - loss: 0.5323 - accuracy: 0.7409
Epoch 42/50
804/804 [==============================] - 1s 625us/step - loss: 0.5318 - accuracy: 0.7410
Epoch 43/50
804/804 [==============================] - 1s 624us/step - loss: 0.5318 - accuracy: 0.7413
Epoch 44/50
804/804 [==============================] - 0s 619us/step - loss: 0.5318 - accuracy: 0.7407
Epoch 45/50
804/804 [==============================] - 0s 615us/step - loss: 0.5321 - accuracy: 0.7413
Epoch 46/50
804/804 [==============================] - 1s 623us/step - loss: 0.5315 - accuracy: 0.7406
Epoch 47/50
804/804 [==============================] - 1s 654us/step - loss: 0.5316 - accuracy: 0.7413
Epoch 48/50
804/804 [==============================] - 1s 682us/step - loss: 0.5308 - accuracy: 0.7407
Epoch 49/50
804/804 [==============================] - 1s 688us/step - loss: 0.5317 - accuracy: 0.7406
Epoch 50/50
804/804 [==============================] - 1s 676us/step - loss: 0.5309 - accuracy: 0.7414

#### Alternative Model 3

In [49]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [50]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [53]:
# Define the number of hidden nodes for the hidden layers
hidden_nodes_layer1_A3 = 32
hidden_nodes_layer2_A3 = 12
hidden_nodes_layer3_A3 = 8

In [51]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [54]:
# First hidden layer
nn_A3.add(Dense(input_dim = number_input_features, units = hidden_nodes_layer1_A3, activation = "relu"))

# Second hidden layer
nn_A3.add(Dense(units = hidden_nodes_layer2_A3, activation = "relu"))

# Third hidden layer
nn_A3.add(Dense(units = hidden_nodes_layer3_A3, activation = "relu"))


# Output layer
nn_A3.add(Dense(units = number_output_neurons_A3, activation = "sigmoid"))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 32)                3744

 dense_15 (Dense)            (None, 12)                396

 dense_16 (Dense)            (None, 8)                 104

 dense_17 (Dense)            (None, 1)                 9

=================================================================
Total params: 4253 (16.61 KB)
Trainable params: 4253 (16.61 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [55]:
# Compile the Sequential model
nn_A3.compile(loss="binary_crossentropy", metrics=["accuracy"], optimizer="adam")

In [56]:
# Fit the model
nn_A3.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 519us/step - loss: 0.5884 - accuracy: 0.7039
Epoch 2/50
804/804 [==============================] - 0s 549us/step - loss: 0.5534 - accuracy: 0.7292
Epoch 3/50
804/804 [==============================] - 0s 568us/step - loss: 0.5494 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 0s 511us/step - loss: 0.5471 - accuracy: 0.7336
Epoch 5/50
804/804 [==============================] - 0s 508us/step - loss: 0.5454 - accuracy: 0.7341
Epoch 6/50
804/804 [==============================] - 0s 525us/step - loss: 0.5441 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 0s 519us/step - loss: 0.5439 - accuracy: 0.7331
Epoch 8/50
804/804 [==============================] - 0s 519us/step - loss: 0.5426 - accuracy: 0.7343
Epoch 9/50
804/804 [==============================] - 0s 516us/step - loss: 0.5414 - accuracy: 0.7354
Epoch 10/50
804/804 [==============================] - 0s 515us/step - loss: 0.5419 - accuracy: 0.7344
Epoch 11/50
804/804 [==============================] - 0s 515us/step - loss: 0.5414 - accuracy: 0.7359
Epoch 12/50
804/804 [==============================] - 0s 510us/step - loss: 0.5408 - accuracy: 0.7367
Epoch 13/50
804/804 [==============================] - 0s 514us/step - loss: 0.5404 - accuracy: 0.7365
Epoch 14/50
804/804 [==============================] - 0s 539us/step - loss: 0.5399 - accuracy: 0.7366
Epoch 15/50
804/804 [==============================] - 0s 511us/step - loss: 0.5396 - accuracy: 0.7358
Epoch 16/50
804/804 [==============================] - 0s 509us/step - loss: 0.5394 - accuracy: 0.7368
Epoch 17/50
804/804 [==============================] - 0s 534us/step - loss: 0.5384 - accuracy: 0.7370
Epoch 18/50
804/804 [==============================] - 0s 549us/step - loss: 0.5390 - accuracy: 0.7374
Epoch 19/50
804/804 [==============================] - 0s 524us/step - loss: 0.5383 - accuracy: 0.7375
Epoch 20/50
804/804 [==============================] - 0s 511us/step - loss: 0.5378 - accuracy: 0.7385
Epoch 21/50
804/804 [==============================] - 0s 512us/step - loss: 0.5380 - accuracy: 0.7363
Epoch 22/50
804/804 [==============================] - 0s 527us/step - loss: 0.5375 - accuracy: 0.7381
Epoch 23/50
804/804 [==============================] - 0s 509us/step - loss: 0.5372 - accuracy: 0.7384
Epoch 24/50
804/804 [==============================] - 0s 512us/step - loss: 0.5371 - accuracy: 0.7387
Epoch 25/50
804/804 [==============================] - 0s 519us/step - loss: 0.5370 - accuracy: 0.7379
Epoch 26/50
804/804 [==============================] - 0s 503us/step - loss: 0.5369 - accuracy: 0.7379
Epoch 27/50
804/804 [==============================] - 0s 535us/step - loss: 0.5366 - accuracy: 0.7382
Epoch 28/50
804/804 [==============================] - 0s 521us/step - loss: 0.5362 - accuracy: 0.7379
Epoch 29/50
804/804 [==============================] - 0s 497us/step - loss: 0.5362 - accuracy: 0.7391
Epoch 30/50
804/804 [==============================] - 0s 498us/step - loss: 0.5356 - accuracy: 0.7393
Epoch 31/50
804/804 [==============================] - 0s 511us/step - loss: 0.5356 - accuracy: 0.7378
Epoch 32/50
804/804 [==============================] - 0s 518us/step - loss: 0.5356 - accuracy: 0.7380
Epoch 33/50
804/804 [==============================] - 0s 506us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 34/50
804/804 [==============================] - 0s 511us/step - loss: 0.5354 - accuracy: 0.7386
Epoch 35/50
804/804 [==============================] - 0s 512us/step - loss: 0.5353 - accuracy: 0.7398
Epoch 36/50
804/804 [==============================] - 0s 529us/step - loss: 0.5353 - accuracy: 0.7391
Epoch 37/50
804/804 [==============================] - 0s 520us/step - loss: 0.5351 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 0s 518us/step - loss: 0.5345 - accuracy: 0.7398
Epoch 39/50
804/804 [==============================] - 0s 497us/step - loss: 0.5348 - accuracy: 0.7393
Epoch 40/50
804/804 [==============================] - 0s 509us/step - loss: 0.5344 - accuracy: 0.7401
Epoch 41/50
804/804 [==============================] - 0s 507us/step - loss: 0.5343 - accuracy: 0.7393
Epoch 42/50
804/804 [==============================] - 0s 495us/step - loss: 0.5339 - accuracy: 0.7400
Epoch 43/50
804/804 [==============================] - 0s 515us/step - loss: 0.5343 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 0s 518us/step - loss: 0.5344 - accuracy: 0.7393
Epoch 45/50
804/804 [==============================] - 0s 493us/step - loss: 0.5343 - accuracy: 0.7393
Epoch 46/50
804/804 [==============================] - 0s 490us/step - loss: 0.5336 - accuracy: 0.7399
Epoch 47/50
804/804 [==============================] - 0s 491us/step - loss: 0.5338 - accuracy: 0.7388
Epoch 48/50
804/804 [==============================] - 0s 498us/step - loss: 0.5331 - accuracy: 0.7406
Epoch 49/50
804/804 [==============================] - 0s 499us/step - loss: 0.5331 - accuracy: 0.7405
Epoch 50/50
804/804 [==============================] - 0s 496us/step - loss: 0.5339 - accuracy: 0.7406

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [57]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 333us/step - loss: 0.5541 - accuracy: 0.7327
Loss: 0.5540587306022644, Accuracy: 0.7327113747596741

In [58]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 351us/step - loss: 0.5560 - accuracy: 0.7311
Loss: 0.5559874773025513, Accuracy: 0.7310787439346313

In [59]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 369us/step - loss: 0.5551 - accuracy: 0.7320
Loss: 0.5550944209098816, Accuracy: 0.7320116758346558

In [60]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 [==============================] - 0s 353us/step - loss: 0.5551 - accuracy: 0.7299
Loss: 0.5551268458366394, Accuracy: 0.729912519454956

### Step 3: Save each of your alternative models as an HDF5 file.

In [61]:
# Set the file path for the first alternative model
file_path = ("./Resources/AlphabetSoup_1.h5")

# Export your model to a HDF5 file
nn.save(file_path)

/Users/alejandratorres/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [62]:
# Set the file path for the second alternative model
file_path = ("./Resources/AlphabetSoup_2.h5")

# Export your model to a HDF5 file
nn.save(file_path)

In [63]:
# Set the file path for the second alternative model
file_path = ("./Resources/AlphabetSoup_3.h5")

# Export your model to a HDF5 file
nn.save(file_path)